<%= bootstrap_form_for(product) do |form| %>
 
  <div>
    <%= form.text_field :category, placeholder: "bebida, alimento, doces" %>
  </div>

  <div>
    <%= form.text_field :name, placeholder: "Nome do produto" %>
  </div>

  <div>
    <%= form.text_area :description , placeholder: "Descrição do produto"%>
  </div>

  <div>
    <%= form.text_field :price , placeholder: "0.00"%>
  </div>

  <div>
    <%= form.number_field :stock , placeholder: "10" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>