<div class="card" id="<%= dom_id product %>">
  <div class="card-body">
    <p>
    <strong>Category:</strong>
    <%= product.category %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= product.stock %>
  </p>
    <%= link_to "Edit this product", edit_product_path(product) %> |
    <%= link_to "Back to products", products_path %>

    <%= button_to "Destroy this product", product, method: :delete %>
  </div>
</div>
